dbms/pzn-elasticsearch-dasar/server/
dbms/pzn-mongodb-dasar/mongodb
dbms/pzn-mongodb-dasar/mongosh
explore/not-yetgit 

## Data
dbms/dcd-basicSQL/source
dbms/pzn-elasticsearch-dasar/data
ds/dcd-pythonForDataScience/data