dbms/pzn-elasticsearch-dasar/server/
dbms/pzn-mongodb-dasar/mongodb
dbms/pzn-mongodb-dasar/mongosh
dbms/pzn-mongodb-dasar/mongodb-database-tools
explore/not-yet

## Data
dbms/dcd-basicSQL/source
dbms/pzn-elasticsearch-dasar/data
ds/dcd-pythonForDataScience/data