dbms/pzn-elasticsearch-dasar/server/
dbms/pzn-mongodb-dasar/mongodb-win32-x86_64-windows-7.0.0
dbms/pzn-mongodb-dasar/mongosh-1.10.6-win32-x64
explore/not-yet

## Data
dbms/dcd-basicSQL/source
dbms/pzn-elasticsearch-dasar/data
ds/dcd-pythonForDataScience/data